<?php
/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Spaaza\Iframe\ViewModel\Iframe $viewModel */
$viewModel = $block->getData('view_model');

$src = $viewModel->getIframeSrc();
?>

<iframe id="spaaza-iframe" src="<?= $block->escapeHtmlAttr($src) ?>" style="width: 100%; min-height: 400px; border: none;"></iframe>
<script>
    window.addEventListener('message', function (e) {
        if (e.data.hasOwnProperty('frameHeight')) {
            document.getElementById('spaaza-iframe').style.height = e.data.frameHeight + 'px';
        }
    } , false);
</script>
